
.endereco{
    background-color: #122ab2;
    color: white;
}

.endereco-container{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	padding-top: 10px;
    margin: 0 auto;
}

.endereco-container p, .endereco-container a{
    margin: 0 10px 10px 10px;
    justify-items: center;
}

.endereco-container a{
    color: white;
}

header{
    background-color: #2c70ff;
}

.menu{
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.logo-menu{
    color: white;
}

.navegacao{
    display: flex;
    flex-wrap: wrap;
}

.navegacao a{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    padding: 0  10px;
}

.navegacao a:hover{
    color: #122ab2;
}

@media (max-width:550px){
    .menu{
        flex-direction: column;
    }

    .logo-menu {
        padding-bottom: 10px;
    }
}